* {
    margin: 0;
    padding: 0;
}

.navbar {
    height: 40px;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.colors-selector {
    font-size: 1rem;
}

.colors-list {
    width: 100vw;
    height: calc(100vh - 40px);
    display: flex;
}

.color-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.color-card h2 {
    line-height: 45px;
}

.color-card i {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: transform 2s;
}

.color-card i:hover {
    background-color: rgba(0.3, 0.3, 0.3, 0.1);
}
